.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar-container {
  width: 180px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  transition: all .28s ease-out;
  .sidebar {
    transition: all .28s ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
  }
}

.main-container {
  min-height: 100%;
  transition: all .28s ease-out;
  margin-left: 180px;
  padding: 20px;
}
